.changePanel {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #734B5E;
    padding: 20px;
}

.changeItem {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.changeFormSubmit {
    background-color: #BCBDC0;
    border: 1px solid black;
    border-radius: 5px;
    float: right;
    
    margin: 5px;
    padding: 1px;
}

.timerSettingsInput {
    width: 50%;
}