.contentArea {
    margin: 0;
    /* height: 100vh; */
    height: 100%;
}

/* general panel styling that applies to all components */
.panel {
    margin: 15px 0px 15px 0px;
    background-color: #CED2DD;
}

.panelBody {
    background-color: #CED2DD;

    /* probably want to increase on left/right side */
    padding: 10px 10px 10px 10px;
}

.panelTitle {
    font-weight: bold;
    font-size: larger;
}

.panelSubtitle {
    font-style: italic;
    font-weight: lighter;
    font-size: smaller;
}

.panelText {
    font-size: smaller;
}