.goalsBox {
    width: 100%;
    display: flex;
    justify-content: space-between;

    overflow: scroll;
}

.goalsPanel {
    margin-right: 10px;
    width: 32%;
    min-width: 340px;
}

.goalsList {
    height: 180px;
}

.goalInput {
    width: 90%;
}