.goalsBox {
    display: flex;
    justify-content: space-between;
}

.goalsPanel {
    width: 32%;
}

.goalsList {
    height: 180px;
}

.goalsTitle {
}

.goalItem {
}

.goalTitle {
}

.goalsForm {
}