.centerCard {
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
}

.centerClock {
    display: flex;
    justify-content: center;

    font-size: xx-large;
    font-weight: bold;
}

.centerWeather {
    display: flex;
    justify-content: center;
}