.tasksPanel {
    width: 19rem;
    height: 35%;
}

.tasksBody {
    background-color: #CED2DD;
}

.tasksTitle {
    font-weight: bold;
    font-size: larger;
}

.tasksSubtitle {
    font-style: italic;
    font-weight: lighter;
    font-size: smaller;
    padding-bottom: 10px;
}

.taskList {
    height: 50%;
    overflow: scroll;
}

.tasksText {
    font-size: smaller;
    margin-bottom: 45px;
}

.inputBox {
    position: absolute;
    bottom: 10px;
    padding-top: 10px;
}