.tasksPanel {
    width: 19rem;
    height: 30%;
    overflow: scroll;
}

.tasksBody {
    background-color: #CED2DD;
}

.tasksTitle {
    font-weight: bold;
    font-size: larger;
}

.tasksSubtitle {
    font-style: italic;
    font-weight: lighter;
    font-size: smaller;
    padding-bottom: 10px;
}

.tasksText {
    font-size: smaller;
    margin-bottom: 45px;
}