.taskList {
    height: 200px;
    overflow: scroll;
}

.taskItem {
    margin: 5px 0 5px 0;
    height: 35px;
    background-color: #CED2DD;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.taskTitle {
    font-size: smaller;
    float: left;
    position: relative;
    top: 20%;
}

.removeTaskBtn {
    float: right;
    height: 25px;
    width: 25px;
    border-radius: 7px;
}

.taskForm {
    height: 30px;
}

.taskInput {
    float: left;
    height: 25px;
    width: 80%;
    border-radius: 5px;
}

.addTaskBtn {
    float: right;
    height: 25px;
    width: 25px;
    border-radius: 7px;
}