.tasksPanel {
    /* width: 19rem; 
    height: 35%; */
    /* width: 100%; */
    /* height: 35%;  */
}

.tasksBody {
    padding: 10px 10px 10px 10px;
}

.taskList {
    height: 200px;
    overflow: scroll;
}

.taskItem {
    margin: 5px 0 5px 0;
    height: 35px;
    background-color: #CED2DD;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.taskTitle {
    font-size: smaller;
}

.removeTaskBtn {
    float: right;
    margin-right: 5px;
}

.taskForm {
    padding: 10px 10px 10px 10px;
    position: relative;
    bottom: 15px;
}

.taskInput {
    float: left;
    width: 75%;
}

.addTaskBtn {
    float: right;
}