.tasksPanel {
    /* width: 19rem; 
    height: 35%; */
    /* width: 100%; */
    height: 35%; 
}

.tasksSubtitle {
    padding-bottom: 10px;
}

.taskList {
    height: 58%;
    overflow: scroll;
}

.tasksText {
    font-size: smaller;
    margin-bottom: 45px;
}

.inputBox {
    position: absolute;
    width: 17rem;
    bottom: 10px;
    padding-top: 10px;
}

.taskInput {
    width: 50%;
    /* height: 15px; */
    position: absolute;
    bottom: 3px;
}

.addTask {
    position: absolute;
    right: 5px;
    bottom: 1px;
}

/* .reminderItem {
    height: 30px;
}

.reminderTitle {
    font-size: smaller;
    position: absolute;
    top: 5px;
} */