.timerPanel {
    width: 19rem;
    height: auto;
    margin-bottom: 20px; 
    background-color: rgb(97, 113, 159);
}

/* .timerSubtitle {
    padding-bottom: 10px;
} */

.timerImg {
    background-color: rgb(97, 113, 159);
}