.remindersList {
    height: 200px;
    overflow: scroll;
}

.reminderItem {
    margin: 5px 0 5px 0;
    height: 35px;
    background-color: #CED2DD;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.reminderTitle {
    font-size: smaller;
}

.removeReminderBtn {
    float: right;
    margin-right: 5px;
}

.reminderForm {
    padding: 10px 10px 10px 10px;
    position: relative;
    bottom: 15px;
}

.reminderInput {
    float: left;
    width: 75%;
}

.addReminder {
    float: right;
}