.remindersPanel {
    width: 19rem;
    height: 35%;
    overflow: scroll;
}

.remindersSubtitle {
    padding-bottom: 10px;
}

.remindersText {
    margin-bottom: 45px;
}

.inputBox {
    position: absolute;
    width: 17rem;
    bottom: 10px;
    padding-top: 10px;
}

.reminderInput {
    width: 14rem;
    position: absolute;
    bottom: 3px;
}

.addReminder {
    position: absolute;
    right: 5px;
    bottom: 1px;
}

.reminderItem {
    height: 40px;
}

.reminderTitle {
    top: 10px;
}

.removeReminderBtn {
    position: absolute;
    right: 5px;
    top: 5px;
}