.contentArea {
    /* width: 100%; */
    /* height: 100vh; */
    height: auto;
    min-height: 790px;
    /* background-color: rgb(50, 71, 132); */
    background-color: #d36135;
    /* text-align: center; */
    padding: 20px;
    overflow: hidden;
}

/* .row {
    height: 880px;
    background-color: #BA5C12;
} */

.column-1 {
    /* width: 70%;
    height: auto;
    float: left; */
    background-color: #419d78;
}

.column-2 {
    /* width: 30%;
    float: right; */
    background-color: #067bc2;
}

/* general panel styling that applies to all components */
.panel {
    margin: 15px 0px 15px 0px;
    border-radius: 10px;
    background-color: #e59500;
    padding: 10px 10px 10px 10px;
}

.panelBody {
    /* background-color: #CED2DD; */
    /* background-color: rgb(210, 216, 233); */
    background-color: #e59500;
    /* background-color: #DFFDFF; */
}

.panelTitle {
    font-weight: bold;
    font-size: larger;
}

.panelSubtitle {
    font-style: italic;
    font-weight: lighter;
    font-size: smaller;
}

.panelText {
    font-size: smaller;
}