.contentArea {
    height: auto;
    background-color: #357266;
    padding: 20px;
    overflow: hidden;
}

.headerRow {
    vertical-align: middle;
}

.logoutBtn {
    font-weight: bold;
    background-color: #BCBDC0;
    float: right;
    color: black;
    padding: 10px 20px 10px 20px;
    margin: 0 0 15px 0;
    border-radius: 8px;

}

/* PANEL STYLING */
/* general panel styling that applies to all components */
/*  */
.panel {
    margin: 15px 0px 15px 0px;
    border-radius: 10px;
    background-color: #734B5E;
    padding: 15px 15px 15px 15px;
    height: fit-content;
}

/* boxed in title that appears at the top of a panel */
.panelTitle {
    font-weight: bold;
    font-size: larger;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

/* scrollable lists within panels */
.panelList {
    height: 180px;
    overflow: scroll;
}

/* boxed-in items from DB that get mapped over - tasks, reminders, goals */
.panelBoxItem {
    margin: 5px 0 5px 0;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* delete button for any mapped over item */
.panelBoxItemDeleteBtn {
    float: right;
}

/* main text for any mapped over item */
.panelBoxTitle {
    font-size: smaller;
    text-align: left;
}

/* contains all form elements */
.panelForm {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 5px 5px 5px;
    margin-top: 10px;
    border-radius: 5px;
}

.panelFormSubmit {
    margin: 5px 5px 5px 5px;
}


/* EXPANDABLE PANEL STYLING */

.expandItem {
}

.expandHeader {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.expandTitle {

}