.tasksTitle {
    background-color: #BCBDC0;
}

.taskItem {
    background-color: #BCBDC0;
}

.taskTitle {
    background-color: #BCBDC0;
}

.taskDueDate {
    font-size: smaller;
}

.taskDueTime {
    font-size: smaller;
}

.taskForm {
    background-color: #BCBDC0;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    border-radius: 5px;

    display: block;
}

.taskFormTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskFormBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}