.tasksTitle {
    background-color: #BCBDC0;
}

.taskItem {
    background-color: #BCBDC0;
}

.taskTitle {
    background-color: #BCBDC0;
}

.taskDueDate {
    font-size: smaller;
    margin-left: 15px;
}

.taskForm {
    background-color: #BCBDC0;
}