.timerImg {
    background-color: #734B5E;
    width: 100%;
}

.timerRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.statusPanel {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
    width: fit-content;
    padding: 5px;
    width: 75%;
}

.statusText {
    text-align: center;
}

.timerBtn {
    border: 1px solid black;
    border-radius: 8px;
    font-size: smaller;
    padding: 5px;
}