.reminderItem {
    background-color: #BCBDC0;
}

.remindersTitle {
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
}

.remindersList {
    height: 180px;
}

.reminderTitle {
}

.reminderForm {
}