.taskList {
    height: 200px;
}

.taskItem {
    background-color: #BCBDC0;
    border: 1px solid black;
    border-radius: 5px;
    font-size: smaller;

    margin: 5px 0;
    padding: 5px;
}

.taskDeleteBtn {
    border: 1px solid black;
    border-radius: 4px;

    width: 20px;
    height: 20px;
}

.dueInfo {
    font-size: x-small;
}

.taskDetails {
    font-size: smaller;
}

.taskForm {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;

    padding: 5px 10px;
    margin-top: 10px;
}

.taskInput {
    border: 1px solid black;
    border-radius: 3px;
    display: block;
    width: 100%;
}

.inputDate {
    border: 1px solid black;
    border-radius: 3px;
    width: 150px;
}

.inputTime {
    border: 1px solid black;
    border-radius: 3px;
}