.headerRow {
    display: flex;
    justify-content: flex-end;
}

.headerBtn {
    font-weight: bold;
    background-color: #BCBDC0;
    border: 1px solid black;
    border-radius: 8px;
    color: black;

    padding: 10px;
    margin: 15px;
    width: 100px;

    display: flex;
    align-content: center;
    justify-content: center;
}

.logoutBtn:hover {
    border: 1px solid gray;
    letter-spacing: -0.5px;
}

/*  */
/* PANEL STYLING */
/*  */

/* general panel styling that applies to all components */
.panel {
    margin: 15px 0px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #734B5E;
    padding: 15px;

    width: 100%;
}

/* boxed in title that appears at the top of a panel */
.panelTitle {
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    height: 30px;
    font-weight: bold;
    
    padding: 5px 10px;

    display: flex;
    justify-content: left;
    align-items: center;
}

/* scrollable lists within panels */
.panelList {
    max-width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

/* boxed-in items from DB that get mapped over - tasks, reminders, goals */
.panelBoxItem {
    background-color: #BCBDC0;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
}

/* delete button for any mapped over item */
.panelBoxItemDeleteBtn {
    border: 1px solid black;
    border-radius: 4px;
    font-size: smaller;
    width: 20px;
    height: 20px;
}

.panelBoxItemDeleteBtn:hover {
    border: 1px solid gray;
}

.panelBoxItemDeleteBtn:focus {
    border: 1px solid gray;
    outline: none;
}

/* main text for any mapped over item */
.panelBoxTitle {
    font-size: smaller;
}

/* contains all form elements */
.panelForm {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 10px;
    margin-top: 10px;

    position: relative;
    bottom: -5px;
}

.panelFormTextInput {
    border: 1px solid black;
    border-radius: 3px;
}

.panelFormTextInput:focus {
    border: 1px solid gray;
    outline: none;
}

.panelFormSubmit {
    border: 1px solid black;
    border-radius: 5px;
    width: 25px;
    height: 30px;

    float: right;
}

.panelFormSubmit:hover {
    border: 1px solid gray;
}

.panelFormSubmit:focus {
    outline: none;
}