.goalsPanel {
    background-color: #e59500;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}

.goalsCard {
    width: 31%;
    background-color: #CED2DD;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.goalsList {
    height: 200px;
    overflow: scroll;
}

.goalsTitle {
}