.goalsPanel {
    /* width: 43rem; */
    width: 100%;
    height: auto;
    margin-bottom: 10px; 
    background-color: #CED2DD;
}

.goalsCard {
    /* max-height: 350px; */
    width: 33%;
    float: left;
    overflow: scroll;
}